<footer class="footer">
    <div class="container ">
        <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-between align-items-start  py-12 px-9 px-lg-0 py-lg-15 gap-2 gap-lg-0">
            <div class="logo">
                <p class="mb-0 fs-sm-7 fs-9 fw-light"><a href="index.html" class="text-dark">ALPHABOX+</a></p>
                <span class="fs-10 fw-semibold font-notoSans">Copyright © 2023 Hexschool.</span>
            </div>
            <img src="../assets/images/emergency.png" alt="deco">
            <ul class="submenu d-flex flex-lg-row flex-column gap-lg-8 gap-2 mb-0">
                <li class="item"><a href="#" class="fw-semibold fs-10 text-dark itemLink">關於我們</a></li>
                <li class="item"><a href="product.html" class="fw-semibold fs-10 text-dark itemLink">產品資訊</a></li>
                <li class="item"><a href="#" class="fw-semibold fs-10 text-dark itemLink">常見問題</a></li>
                <li class="item"><a href="#" class="fw-semibold fs-10 text-dark itemLink">隱私政策</a></li>
            </ul>
        </div>
        
    </div>
</footer>