body {
    line-height: 1.5;
    //background-color:$beige;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

a {
    display: block;
    
}

ul {
    list-style: none;
    padding-left: 0;
}